<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
  </div>

  <div class="hidden md:hidden lg:inline-block border">
    <nav class="user-nav" id="user-nav" aria-label="{{t 'user_navigation'}}">
      <ul class="flex list-none">
        <li>{{link 'community' class='text-sm text-blue-600 hover:underline focus:underline active:underline pr-5 rtl:pr-0 rtl:pl-5'}}</li>
        <li>{{link 'new_request' class='text-sm text-blue-600 hover:underline focus:underline active:underline pr-5 rtl:pr-0 rtl:pl-5 submit-a-request'}}</li>
        {{#unless signed_in}}
          <li>
            {{#link "sign_in" class="text-sm text-blue-600 hover:underline focus:underline active:underline pr-5 rtl:pr-0 rtl:pl-5 sign-in"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
      <div class="relative inline-block text-left dropdown">
        <button class="inline-flex items-center cursor-pointer dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="flex items-center">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="ml-1 dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="absolute right-0 w-48 mt-2 bg-white border rounded-md shadow-lg dropdown-menu" role="menu">
          {{#my_profile role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}{{t 'profile'}}{{/my_profile}}
          {{link "requests" role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}
          {{#link "contributions" role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}{{t "activities"}}{{/link}}
          {{contact_details role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}
          {{change_password role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}
          <div class="border-t border-gray-200 my-1" role="separator"></div>
          {{link "sign_out" role="menuitem" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
        {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
          <li class="user-avatar-item item">
            {{#my_profile class="my-profile"}}
              {{user_avatar class="menu-profile-avatar"}}
              <div class="menu-profile-name">
                <div>{{user_name}}</div>
                <div class="my-profile-tooltip">{{t 'profile'}}</div>
              </div>
            {{/my_profile}}
          </li>
          <li class="item">{{link "requests"}}</li>
          <li class="item">{{#link "contributions"}}{{t "activities"}}{{/link}}</li>
          <li class="item">{{contact_details}}</li>
          <li class="item">{{change_password class='change-password'}}</li>
          <li class="nav-divider"></li>
        {{else}}
          <li class="item">
            {{#link "sign_in"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
          <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community'}}</li>
        <li class="item">{{link 'new_request' class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
          <li class="item">
            {{link "sign_out"}}
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>

</header>
